* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../images/linen.png");
}

.content {
	min-width: 960px;
	width: 75%;
	max-width: 1280px;
	min-height: calc(100% - 160px);
	overflow: hidden;

	margin: auto;
	border-left: 1px dotted #ccc;
	border-right: 1px dotted #ccc;

	background-color: #fefefe;
	padding: 0 20px;
}

h1 {
	margin-top: 0.5em;
	margin-bottom: 0.25em;
}

#sidebar {
	width: 15%;
	display: inline-block;
}

main {
	width: 85%;
	display: inline-block;
	vertical-align: top;
	padding-right: 1.5em;
}

aside {
	float: right;
	text-align: left;
}

aside.warning {
	margin-top: 0;
	font-size: 0.707em;
}

.danger, .warning {
	border-width: 2.5px;
	border-style: dashed;
	border-radius: 7.5px;
	padding: 10px;
	margin: 10px;
}

.danger ul, .warning ul {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.danger li, .warning li {
	list-style-type: disc;
}

.danger {
	color: #d8000c;
	background-color: #ffbaba;
}

.warning {
	color: #9f6000;
	background-color: #feefb3;
}

.requirements {
	display: inline-block;
	margin: 0.5em;
	margin-left: 0;
}

.logo-image {
	height: 100px;
	vertical-align: top;
}

header {
	width: 100%;
	background-color: #801515;
	color: #fff;
	height: 160px;
	overflow: hidden;
}


#banner {
	margin-top: 25px;
	background-color: #aa3939;
	font-size: 5em;
}

.logo {
	min-width: 960px;
	width: 75%;
	overflow: hidden;

	margin: auto;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
}


li {
	list-style-type: none;
	list-style-image: none;
}

nav ol {
	padding-left: 0.5em;
	width: 88%;
}

nav li {
	border-top: 1px solid #ccc;
	font-size: 1.1em;
}

nav li:last-child {
	border-bottom: 1px solid #ccc;
}

nav label {
	display: block;
	cursor: pointer;
}

nav label:hover {
	font-weight: bold;
}

ol.steps {
	position: relative;
	height: 30em;
	margin: 2em;
	overflow: hidden;

	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.steps img {
	display: block;
	max-height: 75%;
	max-width: 75%;
	margin: 1em auto;
}

.steps input[type="radio"] + * + li {
	transform: translate(-150%, 0);
	transform: translate3D(-150%, 0, 0);
}

.steps input[type="radio"]:checked + * + li {
	transform: translate(0%, 0);
	transform: translate3D(0%, 0, 0);
}

.steps input[type="radio"]:checked + * + * ~ li {
	transform: translate(150%, 0);
	transform: translate3D(150%, 0, 0);
}

.steps input[type="radio"] {
	display: none;
}

.steps label {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 1em;

	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	   -khtml-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;
}

.steps input[type="radio"]:checked + * ~ label {
	right: 4em;
	left: auto;
}

.steps input[type="radio"]:checked + label {
	display: none;
}

.steps label:before {
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;

	color: #555;
	content: "\00ab";
	font-size: 3em;
	text-align: center;

	width: 1em;
	height: 0.707em;
	line-height: 0.5em;

	background: #e5e5e5;
	border: 1px solid #999999;

	cursor: pointer;
}

.steps input[type="radio"]:hover + label:before {
	background: #ccc;
}

.steps input[type="radio"]:active + label:before {
	background: #aaa;
}

.steps input[type="radio"]:checked + * ~ label:before {
	content: "\00bb";
}

.steps input[type="radio"]:disabled + label:before {
	opacity: 0.6;
}

.steps > li {
	background-color: inherit;
	position: absolute;
	top: 0;
	left: 4em;
	bottom: 0;
	right: 4em;
	transition: all ease 1s;
	text-align: center;
}

.steps > li:before {
	position: absolute;
	top: 0.5em;
	left: -3.5em;
	content: attr(step) ":";
}

/* Z-index rise the label, and the next label */
.steps input[type="radio"]                     + label { z-index: 5; }
.steps input[type="radio"]:checked             + label { z-index: 10; }
.steps input[type="radio"]:checked + * + * + * + label { z-index: 10; }

pre {
	text-align: left;
	tab-size: 4;
	display: inline-block;
}

.steps p {
	margin: 0;	
}

.guide-info {
	text-align: left !important;
	padding: 4em;
}

.guide-info p {
	margin: 0.5em 0;
	display: block;
}

.guide-info .warning:before, .guide-info .danger:before {
	margin: 5px;
}
