* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../images/linen.png");
}

.content {
	min-width: 960px;
	width: 75%;
	overflow: hidden;

	margin: auto;
	border-left: 1px dotted #ccc;
	border-right: 1px dotted #ccc;

	background-color: #fefefe;
	padding: 0 20px;
}

#sidebar {
	width: 15%;
	display: inline-block;
}

main {
	width: 85%;
	display: inline-block;
	vertical-align: top;
}

.danger, .warning {
	border-width: 2.5px;
	border-style: dashed;
	border-radius: 7.5px;
	padding: 10px;
	margin: 10px;
}

.danger {
	color: #d8000c;
	background-color: #ffbaba;
}

.warning {
	color: #9f6000;
	background-color: #feefb3;
}

.requirements {
	display: inline-block;
	margin: 0.5em;
}

.logo-image {
	height: 100px;
	vertical-align: top;
}

header {
	width: 100%;
	background-color: #801515;
	color: #fff;
	height: 160px;
	overflow: hidden;
}


#banner {
	margin-top: 25px;
	background-color: #aa3939;
	font-size: 5em;
}

.logo {
	min-width: 960px;
	width: 75%;
	overflow: hidden;

	margin: auto;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
}


/* enforce background enheritance from content to li */
main             { background-color: inherit; }
main ol.steps    { background-color: inherit; }
main ol.steps li { background-color: inherit; }


li {
	list-style-type: none;
	list-style-image: none;
}

nav ol {
	padding-left: 0.5em;
	width: 75%;
}

nav li {
	border-top: 1px solid #ccc;
	font-size: 1.1em;
}

ol.steps {
	position: relative;
	width: 85%;
	height: 25em;
	margin: auto;
	overflow: hidden;
}

.steps img {
	display: block;
	width: 75%;
	margin: auto;
}

.steps input[type="radio"] + * + li {
	display: none;
}

.steps input[type="radio"]:checked + * + li {
	display: block;
}

.steps input[type="radio"]:checked + * + * ~ li {
	display: none;
}

.steps input[type="radio"] {
	max-width: 0;
	max-height: 0;
	margin: 0;
	padding: 0;
}

.steps label {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;

	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	   -khtml-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;
}

.steps input[type="radio"]:checked + * ~ label {
	right: 4em;
	left: auto;
}

.steps input[type="radio"]:checked + label {
	display: none;
}

.steps label:before {
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;

	color: #555;
	content: "\00ab";
	font-size: 3em;
	text-align: center;

	width: 1em;
	height: 0.707em;
	line-height: 0.5em;

	background: #e5e5e5;
	border: 1px solid #999999;

	cursor: pointer;
}

.steps input[type="radio"]:hover + label:before {
	background: #ccc;
}

.steps input[type="radio"]:active + label:before {
	background: #aaa;
}

.steps input[type="radio"]:checked + * ~ label:before {
	content: "\00bb";
}

.steps input[type="radio"]:disabled + label:before {
	opacity: 0.6;
}

.steps li {
	position: absolute;
	top: 0;
	left: 4em;
	bottom: 0;
	right: 4em;
}

/* Z-index rise the label, and the next label */
.steps input[type="radio"]                     + label { z-index: 5; }
.steps input[type="radio"]:checked             + label { z-index: 10; }
.steps input[type="radio"]:checked + * + * + * + label { z-index: 10; }
